*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ChaletComprime, sans-serif;
}

html{
    scroll-behavior: smooth;
}

@font-face{
    font-family: ChaletComprime;
    src: url(../fonts/ChaletComprime.ttf);
}
/* start global styles */
.display-flex{
    display: flex;
}
/* end global styles */

/* header style */
header{
    background-color: #131313;
    justify-content: space-between;
    padding: 10px 35px;
    align-items: center;
}

#nav-mobile.active{
    height: 170px;
    overflow-y: hidden;
    transition: height 0.5s;
}

#nav-mobile.disable{
    height: 0;
    overflow-y: hidden;
    transition: height 0.5s;
}

#logo{
    gap: 10px;
    align-items: center;
}

#logo hr{
    height: 95%;
    width: 1px;
    border: none;
    background-color: #4b4b4b;
}

#rockstar-logo{
    width: 25px;
}

#gtav-logo{
    width: 170px;
}

#nav-mobile{
    display: none;
}

nav ul{
    list-style: none;
    gap: 0 25px;
}

nav ul li{
    /* background-color: aqua; */
    width: 50px;
    text-align: center;
    justify-content: center;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 3px 0;
}

nav ul li a:hover{
    border-bottom: 1px solid #fff;
    color: #dadada;
    padding: 3px 5px;
    transition: padding 0.5s;
}

#btn-side-menu{
    display: none;
}

/* end header style */

/* start main style */
main{
    background: url(../images/bg-main.png) no-repeat;
    width: 100%;
    min-height: 600px;
    display: flex;
}

#info-container{
    padding: 20px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    position: relative;
}

#info-container::before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: 0;
    background: linear-gradient(90deg, #131313e3 50%,#4b4b4b00 100%);
}

#gtas-logo,
#text-container,
#btn-container{
    position: relative;
}

#gtas-logo img{
    width: 190px;
    margin: 0 10px;
}

#text-container h1{
    font-size: 3em;
    max-width: 450px;
    color: #fff;
    margin-top: 10px;
}

#text-container p{
    color: #fff;
    font-size: 1.7em;
    max-width: 450px;
    margin-top: 20px;
}

#btn-container{
    margin-top: 40px;
    min-width: 170px;
    max-width: 170px;
}

#btn-container a{
    background-color: transparent;
    text-decoration: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 7px 35px;
    font-size: 1.6em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    transition: background-color 0.5s, color 1.5s;
}

#btn-container a:hover{
    background-color: #fff;
    color: #131313;
    transition: background-color 0.5s, color 1.5s;
}
/* end main style */

/* start buy now style */
#buy-now{
    background: url(../images/bg-section.jpg) no-repeat;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding: 50px;
}

#buy-now #container{
    background-color: #dadada;
    text-align: center;
}

#gta-cape{
    width: 100%;
    min-width: 300px;
    display: flex;
    justify-content: center;
}

#gta-cape img{
    width: 50%;
    height: 260px;
    margin: 20px 70px;
}

#plataforms-container h1, p{
    color: #131313;
    margin: 7px 0;
}

#plataforms-container h1{
    font-size: 1.7em;
}

#plataforms-container p{
    font-size: 1em;
    margin: 10px auto;
}

#select-plataform button{
    width: 70%;
    height: 35px;
    border: 1px solid #131313;
    font-size: 1.1em;
    font-weight: lighter;
    transition: all 0.5s;
}

#select-plataform button:hover{
    cursor: pointer;
    background-color: #292929;
    color: #fff;
    border: 1px solid #292929;
    transition: all 0.5s;
}

#plataforms-buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#plataforms-buttons a{
    text-decoration: none;
    color: #fff;
    background-color: #292929;
    padding: 13px 0;
    transition: background-color 0.5s;
}

#btn-ps5:hover, #btn-ps4:hover{
    background-color: #0071D2;
    transition: background-color 0.5s;
}

#btn-xb-series:hover, #btn-xb-one:hover{
    background-color: #188018;
    transition: background-color 0.5s;
}

#btn-pc:hover{
    background-color: #808080;
    transition: background-color 0.5s;
}

#plataforms-buttons.active{
    height: 249px;
    overflow-y: hidden;
    transition: height 0.5s;
}

#plataforms-buttons.disable{
    height: 0px;
    overflow-y: hidden;
    transition: height 0.5s;
}
/* end buy now style */

@media (max-width: 710px){
    header{
        flex-wrap: wrap;
        justify-content: center;
    }

    #logo{
        width: 50%;
    }

    #logo hr{
        display: none;
    }

    #nav-mobile{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #nav-mobile ul{
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        gap: 10px;
        width: 100%;
        align-items: center;
    }

    #nav-mobile hr{
        width: 100%;
        margin: 10px 0;
    }

    #nav-desktop{
        display: none;
    }

    #btn-side-menu{
        display: inline;
        width: 50%;
        text-align: right;
        color: #fff;
    }
}

@media (max-width: 340px){
    #gtav-logo{
        display: none;
    }

    #gtas-logo img{
        width: 120px;
    }

    #text-container h1{
        font-size: 1.9em;
        width: 100%;
    }

    #info-container::before{
        width: 100%;
    }

    #text-container p{
        font-size: 1.3em;
        width: 100%;
    }

    main{
        background-position: -900px 0px;
    }

    #plataforms-container p{
        width: 30%;
    }

    #select-plataform a{
        width: 100px;
        font-size: 0.7em;
    }
}